body {
    background-color: rgb(206, 208, 208);
    margin: 0 auto;
    /* font-family: 'Prompt', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Koulen', cursive;
    font-family: 'Macondo', cursive;
    font-family: 'Smooch', cursive; */
}

.background {}

.page1 {
    display: flex;
    min-width: 1vh;
    max-width: 1500vh;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    color: white;
}


/* .container {
    height: 12vh;
    width: 12vh;
    border: solid 1vh;
    border-radius: 50vh;
    color: brown;
    position: relative;
    margin-left: 13vh;
    margin-top: 1vh;
} */

.logo {
    height: 10vh;
    position: relative;
    margin: 3vh 0 0 15vh;
}

nav {
    margin: 0 auto;
    height: 6vh;
    width: 150vh;
    min-height: 0.6vh;
    max-width: 1500vh;
    border-radius: 100vh;
    margin-top: 5vh;
    display: flex;
    align-items: center;
    background: linear-gradient(70deg, rgb(1, 1, 66), rgb(198, 2, 35));
}

a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5vh;
    color: rgb(255, 255, 255);
    margin: 0 10vh 0 10vh;
    font-weight: 600;
    padding-top: 1vh;
    opacity: 90%;
    text-decoration: none;
}

a:hover {
    color: rgb(248, 186, 2);
}

h1 {
    font-family: 'Macondo', cursive;
    font-size: 20vh;
    font-weight: 700;
    color: rgb(0, 0, 0);
    margin-top: 100px;
}

h2 {}

.mouv {
    font-size: 10vh;
    position: relative;
    flex;
}

.title {
    display: flex;
}

.menus {
    display: flex;
}

.img1 {
    width: 50vh;
    margin: 10vh;
}